In [119]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score, precision_recall_curve, auc
import matplotlib.pyplot as plt

!pip install contractions 
!pip install beautifulsoup4
!pip install nltk

import re, string, unicodedata                          # Import Regex, string and unicodedata.
import contractions                                     # Import contractions library.
from bs4 import BeautifulSoup                           # Import BeautifulSoup.

import nltk                                             # Import Natural Language Tool-Kit.

nltk.download('stopwords')                              # Download Stopwords.
nltk.download('punkt')
nltk.download('wordnet')

from nltk.corpus import stopwords                       # Import stopwords.
from nltk.tokenize import word_tokenize, sent_tokenize  # Import Tokenizer.
from nltk.stem.wordnet import WordNetLemmatizer         # Import Lemmatizer.

Requirement already satisfied: contractions in /Users/jawed/apps/miniconda3/lib/python3.7/site-packages (0.0.43)
Requirement already satisfied: textsearch in /Users/jawed/apps/miniconda3/lib/python3.7/site-packages (from contractions) (0.0.17)
Requirement already satisfied: Unidecode in /Users/jawed/apps/miniconda3/lib/python3.7/site-packages (from textsearch->contractions) (1.1.1)
Requirement already satisfied: pyahocorasick in /Users/jawed/apps/miniconda3/lib/python3.7/site-packages (from textsearch->contractions) (1.4.0)
Requirement already satisfied: beautifulsoup4 in /Users/jawed/apps/miniconda3/lib/python3.7/site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /Users/jawed/apps/miniconda3/lib/python3.7/site-packages (from beautifulsoup4) (2.1)
Requirement already satisfied: nltk in /Users/jawed/apps/miniconda3/lib/python3.7/site-packages (3.5)
Requirement already satisfied: regex in /Users/jawed/apps/miniconda3/lib/python3.7/site-packages (from nltk) (2020.11.13)
Requirement already satisfied: joblib in /Users/jawed/apps/miniconda3/lib/python3.7/site-packages (from nltk) (0.16.0)
Requirement already satisfied: tqdm in /Users/jawed/apps/miniconda3/lib/python3.7/site-packages (from nltk) (4.36.1)
Requirement already satisfied: click in /Users/jawed/apps/miniconda3/lib/python3.7/site-packages (from nltk) (7.1.2)

[nltk_data] Downloading package stopwords to /Users/jawed/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/jawed/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/jawed/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [120]:
df = pd.read_csv('Tweets.csv')

In [121]:
df.shape

(14640, 15)

In [122]:
df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials to the experience... tacky.,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I need to take another trip!,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,"@VirginAmerica it's really aggressive to blast obnoxious ""entertainment"" in your guests' faces &amp; they have little recourse",NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing about it,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tweet_id                      14640 non-null  int64
 1   airline_sentiment             14640 non-null  object
 2   airline_sentiment_confidence  14640 non-null  float64
 3   negativereason                9178 non-null   object
 4   negativereason_confidence     10522 non-null  float64
 5   airline                       14640 non-null  object
 6   airline_sentiment_gold        40 non-null     object
 7   name                          14640 non-null  object
 8   negativereason_gold           32 non-null     object
 9   retweet_count                 14640 non-null  int64
 10  text                          14640 non-null  object
 11  tweet_coord                   1019 non-null   object
 12  tweet_created                 14640 non-null  object
 13  tweet_location                9907 non-null   object
 14  user_timezone                 9820 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 1.7+ MB

In [124]:
print("Null in any column? ", df.isnull().values.any())

Null in any column?  True

In [125]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
tweet_id,14640.0,5.692184e+17,7.791112e+14,5.675883e+17,5.685592e+17,5.694779e+17,5.698905e+17,5.703106e+17
airline_sentiment_confidence,14640.0,9.001689e-01,1.628300e-01,3.350000e-01,6.923000e-01,1.000000e+00,1.000000e+00,1.000000e+00
negativereason_confidence,10522.0,6.382983e-01,3.304398e-01,0.000000e+00,3.606000e-01,6.706000e-01,1.000000e+00,1.000000e+00
retweet_count,14640.0,8.265027e-02,7.457782e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.400000e+01

In [194]:
dfn = df[['text', 'airline_sentiment']]

dfn

,text,airline_sentiment
0,@VirginAmerica What @dhepburn said.,neutral
1,@VirginAmerica plus you've added commercials to the experience... tacky.,positive
2,@VirginAmerica I didn't today... Must mean I need to take another trip!,neutral
3,"@VirginAmerica it's really aggressive to blast obnoxious ""entertainment"" in your guests' faces &amp; they have little recourse",negative
4,@VirginAmerica and it's a really big bad thing about it,negative
...,...,...
14635,@AmericanAir thank you we got on a different flight to Chicago.,positive
14636,@AmericanAir leaving over 20 minutes Late Flight. No warnings or communication until we were 15 minutes Late Flight. That's called shitty customer svc,negative
14637,@AmericanAir Please bring American Airlines to #BlackBerry10,neutral
14638,"@AmericanAir you have my money, you change my flight, and don't answer your phones! Any other suggestions so I can make my commitment??",negative
14639,@AmericanAir we have 8 ppl so we need 2 know how many seats are on the next flight. Plz put us on standby for 4 people on the next flight?,neutral

In [195]:
print("Null in any column? ", dfn.isnull().values.any())

Null in any column?  False

In [196]:
pd.set_option('display.max_colwidth', None) # Display full dataframe information (Non-turncated Text column.)


dfn.head()

,text,airline_sentiment
0,@VirginAmerica What @dhepburn said.,neutral
1,@VirginAmerica plus you've added commercials to the experience... tacky.,positive
2,@VirginAmerica I didn't today... Must mean I need to take another trip!,neutral
3,"@VirginAmerica it's really aggressive to blast obnoxious ""entertainment"" in your guests' faces &amp; they have little recourse",negative
4,@VirginAmerica and it's a really big bad thing about it,negative

### Data Pre-processing:

- Remove html tags.
- Tokenization.
- Remove numbers.
- Removal of special characters and punctuations.
- Conversion to lowercase.
- Lemmatize or stemming.
- Join the words in the list to convert back to text string in the dataframe (so that each row contains the data in text format.)
- Print first 5 rows of data after pre-processing.

We have used NLTK library to tokenize words , remove stopwords and lemmatize the remaining words.

In [197]:
# Remove html tags
def strip_html(text):
    soup = BeautifulSoup(text, "html.parser")
    return soup.get_text()

dfn['text'] = dfn['text'].apply(lambda x: strip_html(x))
dfn.head()

,text,airline_sentiment
0,@VirginAmerica What @dhepburn said.,neutral
1,@VirginAmerica plus you've added commercials to the experience... tacky.,positive
2,@VirginAmerica I didn't today... Must mean I need to take another trip!,neutral
3,"@VirginAmerica it's really aggressive to blast obnoxious ""entertainment"" in your guests' faces & they have little recourse",negative
4,@VirginAmerica and it's a really big bad thing about it,negative

In [198]:
# Remove Numbers
def remove_numbers(text):
  text = re.sub(r'\d+', '', text)
  return text

dfn['text'] = dfn['text'].apply(lambda x: remove_numbers(x))
dfn.head()

,text,airline_sentiment
0,@VirginAmerica What @dhepburn said.,neutral
1,@VirginAmerica plus you've added commercials to the experience... tacky.,positive
2,@VirginAmerica I didn't today... Must mean I need to take another trip!,neutral
3,"@VirginAmerica it's really aggressive to blast obnoxious ""entertainment"" in your guests' faces & they have little recourse",negative
4,@VirginAmerica and it's a really big bad thing about it,negative

In [199]:
# Remove Special Characters
def remove_sc(text):
  text = re.sub('[^A-Za-z0-9 ]+', '', text)
  return text

dfn['text'] = dfn['text'].apply(lambda x: remove_sc(x))
dfn.head()

,text,airline_sentiment
0,VirginAmerica What dhepburn said,neutral
1,VirginAmerica plus youve added commercials to the experience tacky,positive
2,VirginAmerica I didnt today Must mean I need to take another trip,neutral
3,VirginAmerica its really aggressive to blast obnoxious entertainment in your guests faces they have little recourse,negative
4,VirginAmerica and its a really big bad thing about it,negative

In [200]:
# Tokenization
dfn['text'] = dfn.apply(lambda row: nltk.word_tokenize(row['text']), axis=1) # Tokenization of data
dfn

In [203]:
lemmatizer = WordNetLemmatizer()

def remove_non_ascii(words):
    """Remove non-ASCII characters from list of tokenized words"""
    new_words = []
    for word in words:
        new_word = unicodedata.normalize('NFKD', word).encode('ascii', 'ignore').decode('utf-8', 'ignore')
        new_words.append(new_word)
    return new_words

def to_lowercase(words):
    """Convert all characters to lowercase from list of tokenized words"""
    new_words = []
    for word in words:
        new_word = word.lower()
        new_words.append(new_word)
    return new_words

def remove_punctuation(words):
    """Remove punctuation from list of tokenized words"""
    new_words = []
    for word in words:
        new_word = re.sub(r'[^\w\s]', '', word)
        if new_word != '':
            new_words.append(new_word)
    return new_words

def lemmatize_list(words):
    new_words = []
    for word in words:
      new_words.append(lemmatizer.lemmatize(word, pos='v'))
    return new_words

def normalize(words):
    words = remove_non_ascii(words)
    words = to_lowercase(words)
    words = remove_punctuation(words)
    words = lemmatize_list(words)
    return ' '.join(words)

dfn['text'] = dfn.apply(lambda row: normalize(row['text']), axis=1)
dfn.head()

,text,airline_sentiment
0,virginamerica what dhepburn say,neutral
1,virginamerica plus youve add commercials to the experience tacky,positive
2,virginamerica i didnt today must mean i need to take another trip,neutral
3,virginamerica its really aggressive to blast obnoxious entertainment in your guests face they have little recourse,negative
4,virginamerica and its a really big bad thing about it,negative

In [211]:
df['airline_sentiment'].value_counts()

negative    9178
neutral     3099
positive    2363
Name: airline_sentiment, dtype: int64

### Vectorization:

In [205]:
# Vectorization (Convert text data to numbers).
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(max_features=1000)                # Keep only 1000 features as number of features will increase the processing time.
data_features = vectorizer.fit_transform(dfn['text'])

data_features = data_features.toarray()                        # Convert the data features to array.

In [208]:
data_features.shape

(14640, 1000)

In [210]:
data_features

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [214]:
labels = dfn['airline_sentiment']

In [215]:
# Split data into training and testing set.

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data_features, labels, test_size=0.3, random_state=42)

In [216]:
# Using Random Forest to build model for the classification of reviews.
# Also calculating the cross validation score.

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

forest = RandomForestClassifier(n_estimators=10, n_jobs=4)

forest = forest.fit(X_train, y_train)

print(forest)

print(np.mean(cross_val_score(forest, data_features, labels, cv=10)))

RandomForestClassifier(n_estimators=10, n_jobs=4)
0.71448087431694

In [217]:
# Predict the result for test data using the model built above.

result = forest.predict(X_test)

In [219]:
# Using TfidfVectorizer to convert text data to numbers.

from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(max_features=1000)
data_features = vectorizer.fit_transform(dfn['text'])

data_features = data_features.toarray()

data_features.shape

(14640, 1000)

In [220]:
# Using Random Forest to build model for the classification of reviews.
# Also calculating the cross validation score.

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

import numpy as np

forest = RandomForestClassifier(n_estimators=10, n_jobs=4)

forest = forest.fit(X_train, y_train)

print(forest)

print(np.mean(cross_val_score(forest, data_features, labels, cv=10)))

RandomForestClassifier(n_estimators=10, n_jobs=4)
0.7104508196721311

In [221]:
result = forest.predict(X_test)

### Summarization:

For sentiment analysis, we first removed unnecessary information from the text, like special characters, punchtuations, html tags and numbers. 
We made text all to lower case words to optimize for performance.
We used lemmatization of words to produce common base form of variation of similar words.
We converted words into real numbers using vectorization.
Both count vector and Tfid produced similar kind of results for our data in terms of accuracy; with count vector tiny bit better but the difference was insignificant.